<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách vaccine</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <th:block th:replace="layout :: content">
        <h2>Danh sách vaccine</h2>
        <ul>
            <li th:each="vaccine : ${vaccines}" th:text="${vaccine.name}"></li>
        </ul>
    </th:block>
</body>
</html>