<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="masterpage/_layout">
<head>
    <title>Đăng nhập</title>
</head>
<body>
<main layout:fragment="content">
    <h2>Đăng nhập</h2>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Tên đăng nhập" required>
        <input type="password" name="password" placeholder="Mật khẩu" required>
        <button type="submit">Đăng nhập</button>
    </form>
</main>
</body>
</html>
